# compiled files:
*.o
*.so
*.a

# temporary files:
.ipynb_checkpoints
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
*.dlog
*.copyright

# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.fls
*.fdb_latexmk

# misc:
.DS_Store
*default.profraw

# jupyter-book build files
#doc/LectureNotes/_build/*
#doc/LectureNotes/_build/jupyter_execute
#doc/LectureNotes/_build/.jupyter_cache
#doc/LectureNotes/_build/.doctrees

# reveal
reveal.js
*-reveal.html

# SPECIAL
# Remove old versions
doc/old
doc/src

# remove KEYS (solutions to exercises and problem sets)
KEY*
key*



