# compiled files:
*.o
*.so
*.a

# temporary files:
.ipynb_checkpoints
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*

# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.fls
*.fdb_latexmk

# misc:
.DS_Store

# reveal
reveal.js
*-reveal.html

# SPECIAL
# remove KEYS (solutions to exercises and problem sets)
KEY*
key*

