* {
margin: 0;
padding: 0;
}

body {
background: #FFFFFF;
text-align: left;
/* font: 12px/18px 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif; */
color: #333;
padding-top: 40px;
}

a {
color: #666;
text-decoration: underline;
}

a:visited {
text-decoration: underline;
}

a:hover {
color: #ccc;
}

h1 {
width: 140px;
height: 60px;
background-color: #333;
margin: 1px 1px 1px 0;
float: left;
/* font: bold 16px/24px 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;*/
padding-left: 10px;
color: #fff;
cursor: default;
}

#nav {
list-style: none;
z-index: 2;
border-right: 1px solid #fff;
height: 130px;
width: 150px;
}

#nav li a {
color: #fff;
/*font: normal 11px/24px 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;*/
display: block;
width: 140px;
height: 25px;
background-color: #000;
border-bottom: 1px solid #fff;
padding-left: 10px;
text-decoration: none;
}

#nav a:hover {
background-color: #333;
}

#current li {
    font-size:110%;
    font-weight:600;
background-image: url("images/bullet.gif");
background-repeat: no-repeat;
background-position: 100% 50%;
}
img {
border: none;
}

a img {
margin-bottom: 20px;
border: 1px solid #fff;
}

a:hover img {
border-color: #f00;
}

#content {
float: left;
width: 500px;
margin: 10px 0 0 10px;
}

#content ul {
margin: 0 0 10px 20px;
}

p {
margin-bottom: 20px;
}

.main_box{
	padding:15px;
        margin:0px;
        margin-top:0px;
        margin-bottom:15px;
	/*background:#F8F8FF;*/
	border: 1px solid #8784C6;
}

.main_box .anchor a { color: black} 
.main_box ul { margin-top: 10pt; margin-bottom: 10pt; padding-left: 2em }
.main_box ol { margin-top: 10pt; margin-bottom: 10pt; padding-left: 2em }

.main_box h3 {
	font-weight: bold;
    font-variant: small-caps
}

.main_box h4 {
	font-weight: bold;
    font-variant: small-caps
}

.main_box h5 {
    font-variant: small-caps
}

.main_box dt {
	font-weight: bold
}

.main_box dd {
	margin-left: 30px
}

.main_box table {
    padding:2px;
    padding-left:0px;
    margin:2px;
    background:transparent;
    border: 1px solid #8784C6;
    border-collapse:collapse;
}

.main_box th {
    padding:2px;
    padding-left:2px;
    margin:0px;
    border: 1px solid #8784C6;
    background:transparent;
    vertical-align:top;	   
    horizontal-align:center;	   
}

.main_box td {
    padding:2px;
    padding-left:2px;
    margin:0px;
    border: 1px solid #8784C6;
    background:transparent;
    vertical-align:top;	   
}

.main_box td .head {
	font-weight: bold;
	padding:2px;
	padding-left:3px;
	margin:0px;
}

#footer {
text-align: center;
/*font: normal 8px/14px verdana, arial, tahoma, sans-serif;*/
clear: both;
width: 500px;
margin-left: 163px;
}

/******************************************************/

#main_body {
	width:100%;
	padding:20px;
	vertical-align:top;	   
}

.body_box{
	/* width:100%; */
/*	padding:20px;*/
	text-align:center;
/*	border:1px dashed #009900;*/

}

.button, .main_box .button{
	display:inline;
	margin-right:0.5em;
        margin-left:0.5em;
	width:30px;
	text-align:center;
	padding:1px;
	background:#E9E9F8;
	padding-left:5px;
	padding-right:5px;
	border: 1px solid #8784C6;
}

/******************************************************/

